body {
    background-color: #6AC5AC;
    font-family: 'Roboto', sans-serif;
}

h1 {
    position:relative;
   text-align: center;
    animation-name: move-left;
    animation-duration: 2s;
}

@keyframes move-left {
    from {
        left:300px;
    }
    to {
        left: 500px;
    }
}

.container  {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 0 75px;
    grid-gap: 20px 40px;
}

.item {
    border: 1px solid transparent;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 1px;
    transition: box-shadow ease-in 1s;
}

.item:hover {
    box-shadow: 4px 4px
}

img {
    height: 12vh;
}

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        grid-template-columns: auto auto;
    }
    .skill-writeup {
        display: none;
    }
}





