#searched-place {
    width: 100%;
    height: 31px;
    float: left;
    font-family: Arial, sans-serif;
    font-size: x-large;
    font-weight: lighter;
    color: #878787;
}

#current-day {
    width: 100%;
    height: 20px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
    color: #878787;
}

.weather-condition {
    width: 100%;
    height: 20px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
    color: #878787;
}