button {
    margin-top: 20px;
}

.results-hide {
    display: none;
}

.results-show {
    display: block;
}

#chart-container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
}